<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid && contact.touched">show all contact group errors here...</div>
    <div 
    [ngClass]="{'has-error': firstName.touched && !firstName.valid}"
    class="form-group">
      <label for="firstName">First Name</label>
      <!-- pattern="banana"  -->
      <input 
        required 
        minlength="3" 
        maxlength="11" 

        ngModel 

        name="firstName" 
        #firstName="ngModel" 
        (change)="log(firstName)" 
        
        type="text"
        id="firstName" 
        class="form-control">

      <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
        <div *ngIf="firstName.errors.minlength">
              First name is min length must be {{firstName.errors.minlength.requiredLength}}.
        </div>
        <div *ngIf="firstName.errors.required">
          First name is required.
        </div>
        <div *ngIf="firstName.errors.pattern">
            First name pattern must be {{firstName.errors.pattern.requiredPattern}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
      <label for="comment">Comment</label>
      <textarea ngModel name="comment" type="text" id="comment" class="form-control"></textarea>
  </div>
  <div class="checkbox">
    <label for="">
      <input type="checkbox" ngModel name="isSubscribed"> 
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select multiple ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option></option>
      <option *ngFor="let method of contactMethods" [value]="method.id">{{method.name}}</option>
    </select>
  </div>
  <p>
    {{f.value | json}}
  </p>
  <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>