<div class="container">
<!-- <h1>Angular</h1> -->
<!-- <courses></courses> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-custom-pipes></app-custom-pipes> -->
<!-- <br> -->
<!-- <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->
<!-- <br> -->
<!-- <title-case></title-case> -->
<!-- <app-panel>
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">Body</ng-container>
</app-panel> -->

<!-- <like [is-liked] = "tweet.isLiked" [likes-count]="tweet.likesCount" (change)="onLikeChanged($event)"></like> -->

<!-- <ngif></ngif> -->
<!-- <ngswitch></ngswitch>
<ngfor></ngfor>
<input type="text" appInputFormat="lowercase" >

<zippy title="Shipping Details">
    Shipping Details Content
</zippy> -->
<!-- <zippy title="Billing Details">
    Billing Details Content
</zippy> -->

<!-- <contact-form></contact-form> -->
<!-- <geo-location></geo-location> -->

<br>
<!-- <posts></posts> -->

<!-- <signup-form></signup-form> -->
<!-- <nested-form></nested-form> -->
<form-array></form-array>
</div>