<h1>Angular</h1>
<!-- <courses></courses> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-custom-pipes></app-custom-pipes> -->
<!-- <br> -->
<!-- <favorite [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite> -->
<!-- <br> -->
<!-- <title-case></title-case> -->
<!-- <app-panel>
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">Body</ng-container>
</app-panel> -->

<like [is-liked] = "tweet.isLiked" [likes-count]="tweet.likesCount" (change)="onLikeChanged($event)"></like>

<!-- <ngif></ngif> -->